<mat-card>
    <h2>Login</h2>
    <form class="login-form" [formGroup]="myFirstReactiveForm" (submit)="onSubmit()"  >

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Логин(email)" id="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" type="password"  id="password" formControlName="password">
        </mat-form-field>

        <div class="form-group">
            <button mat-raised-button color="primary" type="submit">Войти</button>
            <button mat-raised-button color="primary" (click)="logingoogle()">Войти через Google</button>
            <button mat-raised-button routerLink="/auth/registration" >Регистрация</button>

        </div>
        
    </form>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button (click)="logout()">Logout</button>
    </div>
</mat-card>

<div>
    {{myFirstReactiveForm.value | json}}
</div>


<!-- <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>
</div>

<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button> -->





<!-- <div *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="logingoogle()">Login with Google</button>
  </ng-template> -->