  <mat-card>
    <h2>Регистрация</h2>
    <form class="login-form" [formGroup]="registrationForm" (submit)="onSubmit()"  >

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Логин(email)" id="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" type="password"  id="password" formControlName="password">
        </mat-form-field>
        <div class='form-text error' *ngIf="registrationForm.controls.password.touched">
          <div *ngIf="registrationForm.controls.password.hasError('required')">Введите пароль.</div>
          <div *ngIf="registrationForm.controls.password.hasError('minlength')">Длина пароля от 3 до 12 символов.</div>
        </div>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Повторите пароль" type="password"  id="confirmPassword" formControlName="confirmPassword">
      </mat-form-field>
      <div class='form-text error' *ngIf="registrationForm.controls.confirmPassword.touched">
        <div *ngIf="registrationForm.hasError('mismatchedPasswords')">Пароли не совпадают.</div>
      </div>

        <div class="form-group">
          <button mat-raised-button routerLink="/auth/login"  >Войти</button>
          <button mat-raised-button color="primary" type="submit">Регистрация</button>
        </div>
        
    </form>

    
    <!-- <div *ngIf="afAuth.authState | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
        <button (click)="logout()">Logout</button>
    </div> -->
</mat-card>



