.header_box{width: 1000px; margin: 0 auto; border: 1px solid rgb(30, 144, 219); box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; height: 70px; padding: 0 20px;}
.header_login{text-decoration: none;}
.header_reg{text-decoration: none; position: relative; margin-right: 10px; margin-left: 10px;}
.header_reg::before{content: '/'; position: absolute; top: 50%; left: -10px; transform: translateY(-50%);  }
/* .header_box_right{display: flex; flex-direction: row; align-items: flex-end;} */
.header_box_right a:hover{color: rgb(24, 125, 207);}
.header_box_right{display: flex; flex-direction: row}
.batton-row button{margin: 0 10px;}
.batton-row p {margin-right: 10px;}
.batton-row{display: flex; flex-direction: row}