<div class="add-form_box">
    <form class="example-form">
        <div class="form-row">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Введите область" value="">
            </mat-form-field>
            

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Введите город" value="">
            </mat-form-field>
        </div>

        <div class="form-row">
            <mat-form-field>
                <mat-select placeholder="Выберите категорию">
                    <mat-option *ngFor="let categori of categories" [value]="categori.value">
                    {{ categori.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Выберите подкатегорию">
                    <mat-option *ngFor="let categori of categories" [value]="categori.value">
                    {{ categori.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="characteristics"></div>
        <div class="form-row">       
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Впишите заголовок" value="">
            </mat-form-field>
        </div>
        <div class="form-row">       
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Описание товара"></textarea>
            </mat-form-field>
        </div>
        <div class="photo">
            <p>Загрузить фото</p>
        </div>
        <div class="form-row">       
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Цена" value="">
            </mat-form-field>
        </div>
        <div class="form-row">       
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Телефон" value="">
            </mat-form-field>
        </div>
        <div class="form-row">       
            <mat-form-field class="example-full-width">
                <span matPrefix>+7 &nbsp;</span>
                <input type="tel" matInput placeholder="Telephone">
                <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="addCard()">Опубликовать</button>

    </form>
</div>  
  
 